[data-lang^="en"] {
  .terminal-cont {
    & + .commands {
      @media (min-width: 500px) {
        left: calc(50% - 58px);
        width: 48px;
        .command {
          width: calc(100% - 16px);
          text-align: left;
        }
      }
    }
  }
}


hr {
  border: 0;
  border-bottom: 1px dotted #ccc;
  background: transparent;
}

time {color: #ddd}

pre {margin: 0}

.terminal-cont {
  width: 40%;
  height: 70%;
  top: 20%;
  left: 50%;
  position: absolute;

  @media (max-width: 500px) {
    top: 0;
    left: 0;
    height: calc(100% - 33px);
    width: calc(100% - 20px);
    padding: 0 10px;
    transform: unset;
  }

  .cmd {
    //font-weight:bold;
  }

  & + .commands {
    position: absolute;
    left: calc(50% - 50px);
    top: 20%;
    font-size: 12px;
    text-align: right;
    border: solid 2px #eee;
    .command {
      color: #eee;
      transition: all .5s;
      &:hover {
        color: #111;
        background: #eee;
      }
    }

    @media (min-width: 500px) {
      display: none;
      width: 40px;
      .command {
        border-radius: 0;
        margin: 0;
        padding: 8px;
        transition: all .5s;
      }
    }



    @media (max-width: 500px) {
      top: unset;
      bottom: 0;
      border: none;
      border-top: solid 1px #111;
      .command {
        color: #111;
        margin: 5px !important;
      }

      opacity: 1;
      left: 50%;
      transform: translateX(-50%);
      & > .command:last-child {
        display: none;
      }
    }
  }
}

#logo {
  position: absolute;
  top: 20%;
  left: calc(25% - 4px);
  @media (max-width: 500px) {
    //top: calc(45% - 30px);
    top: unset;
    bottom: 10px;
    left: 20px;
    fill: #111;
  }
}

#copyright {
  position: absolute;
  bottom: 10px;
  left: calc(25% - 4px);
  font-size: 12px;
  color: #24292e;
  margin: 10px 5px 10px 0;
  @media (max-width: 500px) {
    display: none;
  }
}