.commands{
  position: relative;
  top: -10px;
}
.command {
  display: inline-block;
  list-style: none;
  padding: 3px;
  border-radius: 2px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;

  &[data-cmd] {
    border-bottom: solid 2px #ccfde5;
    padding-bottom: 1px;
    display: inline;
    margin: 0;
  }

  &.image {
    background: #cdfee5;
  }
  &.love_letter {
    background: pink;
  }
}
